<script
  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>
<script>
    const _baseurl = "deligames.herokuapp.com";
    const room = JSON.parse(`<%-JSON.stringify(room)%>`);
    const _player = JSON.parse('<%-JSON.stringify(players)%>');
    const _me = JSON.parse('<%-JSON.stringify(me)%>');
    var _play = JSON.parse('<%-JSON.stringify(play)%>');
    var _pace = {};

    if(_baseurl == 'localhost'){
        var socket = io.connect(location.protocol+'//'+_baseurl+':3000');
    }else{
        var socket = io.connect('https://'+_baseurl);
    }
    if(_play != null)
    if(_play.pace != 'ready' && _play.pace != undefined && _play.pace != 'undefined'){ 
        p = _play.pace.split(",");
            for(x in p){               
                var a = p[x].split(":");                
                if(a.length > 1)
                if(a[1] != undefined && a[1] != 'undefined'){
                    if(room.creator != _me._id){
              
                        var b = a[1].split(".");
                        var m = 8 - parseInt(b[0]);
                        var n = 9 - parseInt(b[1]);                
                        if(a[0] == a[0].toLowerCase()){
                            _pace[a[0].toUpperCase()] = `${m}.${n}`;
                        }else{
                            _pace[a[0].toLowerCase()] = `${m}.${n}`;
                        }
                
                    //_pace[a[0]] = a[1];        
                    }else{
                        _pace[a[0]] = a[1];
                    }
                }
                
                
            }
        }
        if(_pace != {}){
            var myInterval = setInterval(function(){
                if(typeof play == 'object'){
                    play.regret();
                    play.isPlay = false;
                    if(_play.creator != _me._id){
                        play.isPlay = true;
                    }
                    clearInterval(myInterval);
                }
            },500);
        }
</script>

<script>
    socket.on(`room_join_${DELI.parameterURL("room")}`,function(res){
        var li = document.createElement("li");
        li.id = `player_${res._id}`;
        li.innerHTML = `${res.name} <small></small>`;
        document.getElementById("player_list").appendChild(li);
    });
    socket.on(`room_remove`,function(res){
        var user = document.getElementById(`player_${res}`);
        if(user != null)
            user.remove();
    });
    socket.on(`ready_${DELI.parameterURL("room")}`,function(res){
        var user = document.getElementById(`player_${res}`);
        if(user != null){
            user.getElementsByTagName("small")[0].innerHTML = "Ready";
        }
    });
    </script>
<h1>Room <%=room.name%></h1>
<small><%=room._id%></small>
<ul id="player_list">
    
    <% 
    let _im_ready = "";
    for(let x in players){        
        if(players[x]._id.toString() == me._id.toString()){
            _im_ready = players[x].isReady;
        }
    %>
    <li id="player_<%=players[x]._id%>"><%=players[x].name%> <small><%=players[x].isReady == 'ready' ? 'Ready':''%></small></li>
    <%
    }
    %>
</ul>
<button onclick="imready(this)" ><%=_im_ready == 'ready'?'Cancel':"I'm Ready"%></button>

<link href="/chess/css/chess.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="box" id="box">
	<div class="chess_left">
		<canvas id="chess"></canvas>
		<audio src="audio/click.wav" id="clickAudio" preload="auto"></audio>
		<!--<audio src="audio/check.wav" id="checkAudio" preload="auto"></audio>-->
		<audio src="audio/select.wav" id="selectAudio" preload="auto"></audio>
		<div>
			<div class="bn_box" id="bnBox">
        <% 
        if(play != null && room.creator == me._id.toString()){
            if(play.pace == 'ready'){
        %>
                <button id="tyroPlay">Start</button>
            <% } }  %>
				<!--input type="button" name="offensivePlay" id="tyroPlay" value="Easy" />
				<input type="button" name="offensivePlay" id="superPlay" value="Hard" />
                
                <input type="button" name="button" id="" value="大师水平" disabled />
                <input type="button" name="offensivePlay" id="offensivePlay" value="先手开始" />
                <input type="button" name="defensivePlay" id="defensivePlay" value="后手开始" />
				
                
				<input type="button" name="regret" id="regretBn" value="3 steps back" />
				<input type="button" name="billBn" id="billBn" value="棋谱" class="bn_box" />
				<input type="button" name="stypeBn" id="stypeBn" value="Change Skin" />
      -->
			</div>
		</div>
		
		
	</div>
	<div class="chess_right" id="chessRight">
		<select name="billList" id="billList">
		</select>
		<ol id="billBox" class="bill_box">
		</ol>
	</div>
	<div id="moveInfo" class="move_info"> </div>
</div>

  
  <script>
    var socket = io.connect(location.protocol+'//localhost:3000'); 
    socket.on(`joiner_in_${DELI.parameterURL("room")}`, function(res) {
      var li = document.createElement("li");
      li.id = `joiner_${res.id}`;
      li.innerHTML = res.name;
      document.getElementById("playerList").appendChild(li);
    });
    socket.on(`joiner_out_${DELI.parameterURL("room")}`, function(res) {
      var joiner = document.getElementById(`joiner_${res.id}`);
      if(joiner != null)
        joiner.remove();
    });
  
           
    
  </script>

<script type="text/javascript" src="/chess/js/common.js"></script> 
<script type="text/javascript" src="/chess/js/play.js"></script> 
<script type="text/javascript" src="/chess/js/AI.js"></script> 
<script type="text/javascript" src="/chess/js/bill.js"></script> 
<script type="text/javascript" src="/chess/js/gambit.js"></script>
